{{ define "loader-cat" }}
class ComponentBootScreen extends HTMLElement {
    connectedCallback() {
        this.innerHTML = this.render();
        this.timeout = setTimeout(function(){
            const $rbw = document.querySelector("#rbw .w");
            $rbw.innerHTML = $rbw.innerHTML.repeat(10);

            const $loader = document.querySelector("#n-lder");
            $loader.classList.add("loading");
        }, 500);
    }

    disconnectedCallback() {
        clearTimeout(this.timeout);
    }

    render() {
        return `
        <style>
        html{ overflow: hidden; }
        body{ background: #f2f3f5; color: #375160; }
        body.dark-mode{ background: #232426; }
        .background-color{ background: #f2f3f5; }
        body.dark-mode .background-color{ background: #232426; }

        #n-lder {
            position: fixed;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            overflow: hidden;
            z-index: 9999;
        }

        #n-lder #cat {
            position: relative;
            margin: 0;
            width: 150px;
            height: 150px;
            animation: cat-spin 4s linear infinite;
        }

        #n-lder.loading #cat,
        #n-lder.loading.done #cat {
            left: auto;
            top: auto;
            transition: none;
        }

        @keyframes cat-spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }


        /*#n-lder{ max-width: 100%; overflow: hidden; }*/
        /*#n-lder #cat{ position: absolute; top: calc(50% + 45px); left: 0%; margin-left: -250px; margin-top: -125px; width: 100%; height: 150px; }*/
        /*#n-lder.loading #cat{ left: 20%; left: calc(50% + 125px); transition: left 4s ease-out; }*/
        /*#n-lder.loading.done #cat { left: 100%; left: calc(100% + 250px); transition: left 0.5s linear; }*/
        /*#n-lder #cat svg{ height: 160px; width: 250px; position: absolute; }*/
        /*#n-lder #cat #hide-behind{ position: absolute; top: 0; left: 55px; bottom: 0; right: -250px; }*/

        /*#n-lder #rbw{ position: absolute; top: calc(50% + 45px); left: 0; overflow: hidden; height: 145px; margin-top: -110px; width: 100%; }*/
        /*#n-lder #rbw .w{ width: 10000px; }*/
        /*#n-lder #rbw .rbw { z-index: -1; font-size: 16em; float: left; position: relative; }*/
        /*#n-lder #rbw .rbw .wv { height: 20px; width: 55px; }*/
        /*#n-lder #rbw .rbw .wv.wv-1 { background: #ff0000; }*/
        /*#n-lder #rbw .rbw .wv.wv-2 { background: #ff9900; }*/
        /*#n-lder #rbw .rbw .wv.wv-3 { background: #ffff00; }*/
        /*#n-lder #rbw .rbw .wv.wv-4 { background: #33ff00; }*/
        /*#n-lder #rbw .rbw .wv.wv-5 { background: #0099ff; }*/
        /*#n-lder #rbw .rbw .wv.wv-6 { background: #6633ff; }*/
        /* #n-lder #rbw .rbw{ top: 0px; animation: rbw .6s linear infinite; }*/
        /*#n-lder #rbw .rbw.f1{ animation-delay: 0s; }*/
        /*#n-lder #rbw .rbw.f2{ animation-delay: 0.1s; }*/
        /*#n-lder #rbw .rbw.f3{ animation-delay: 0.2s; }*/
        /*#n-lder #rbw .rbw.f4{ animation-delay: 0.3s; }*/
        /*#n-lder #rbw .rbw.f5{ animation-delay: 0.4s; }*/
        /*#n-lder #rbw .rbw.f6{ animation-delay: 0.5s; }*/
        /*@keyframes rbw {*/
        /*    0%{ top: 0px; }*/
        /*    50%{ top: 15px; }*/
        /*    100%{ top: 0px; }*/
        /*}*/
        /*@keyframes nyan_all {*/
        /*    0%{ transform: translateY(0px); }*/
        /*    33%{ transform: translateY(0px); }*/
        /*    34%{ transform: translateY(1px); }*/
        /*    100%{ transform: translateY(1px); }*/
        /*} #n-lder svg g#nyan_all{ animation: nyan_all 0.40s linear infinite; }*/
        /*@keyframes nyan_head {*/
        /*    0%{ transform: translateX(0px) translateY(0px); }*/
        /*    16%{ transform: translateX(0px) translateY(0px); }*/
        /*    17%{ transform: translateX(1px) translateY(0px); }*/
        /*    66%{ transform: translateX(1px) translateY(0px); }*/
        /*    67%{ transform: translateX(0px) translateY(0px); }*/
        /*    83%{ transform: translateX(0px) translateY(0px); }*/
        /*    84%{ transform: translateX(0px) translateY(-1px); }*/
        /*    100%{ transform: translateX(0px) translateY(-1px); }*/
        /*} #n-lder svg g#nyan_head{ animation: nyan_head 0.4s linear infinite; }*/
        /*@keyframes nyan_walk {*/
        /*    0%{ transform: translateX(0px); }*/
        /*    16%{ transform: translateX(0px); }*/
        /*    17%{ transform: translateX(1px); }*/
        /*    33%{ transform: translateX(1px); }*/
        /*    34%{ transform: translateX(2px); }*/
        /*    50%{ transform: translateX(2px); }*/
        /*    51%{ transform: translateX(1px); }*/
        /*    100%{ transform: translateX(0px); }*/
        /*} #n-lder svg g#nyan_feet{ animation: nyan_walk 0.5s linear infinite; }*/
        /*@keyframes nyan_tail {*/
        /*    0%{ transform: rotate(0); }*/
        /*    16%{ transform: rotate(0); }*/
        /*    17%{ transform: rotate(-5deg); }*/
        /*    33%{ transform: rotate(-5deg); }*/
        /*    34%{ transform: rotate(-10deg); }*/
        /*    49%{ transform: rotate(-10deg); }*/
        /*    50%{ transform: rotate(-20deg); }*/
        /*    66%{ transform: rotate(-20deg); }*/
        /*    67%{ transform: rotate(-10deg); }*/
        /*    83%{ transform: rotate(-10deg); }*/
        /*    84%{ transform: rotate(-5deg); }*/
        /*    99%{ transform: rotate(-5deg); }*/
        /*    100%{ transform: rotate(0deg); }*/
        /*} #n-lder svg g#nyan_tail{ animation: nyan_tail 0.5s linear infinite; transform-origin: 4px 8px; }*/
        </style>
        <div id="n-lder">
            <div id="cat">
                <div id="hide-behind" class="background-color"></div>
                <svg width="221" height="215" viewBox="0 0 221 215" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M92.2917 202.413C77.7917 202.413 52.2916 190.413 44.2917 184.413C36.2917 178.413 27.1882 167.937 21.2917 157.913C16.2917 149.413 12.7035 140.413 11.2917 124.413C10.0541 110.387 12.7917 91.4131 18.7917 80.9131" stroke="#FDD320" stroke-width="22"/>
                    <path d="M23.7917 68.9131C29.7917 58.913 51.6407 40.5413 60.3022 36.7493C68.9638 32.9573 82.9743 28.789 94.7917 28.4131C108.292 27.9836 117.771 29.63 133.792 35.4131C147.835 40.4825 168.792 59.5513 174.292 68.9131" stroke="#2C4371" stroke-width="22"/>
                    <path d="M179.292 80.4131C185.792 91.4131 187.666 117.058 186.292 126.413C184.918 135.768 183.235 147.192 177.292 157.413C170.502 169.089 162.686 177.891 149.292 188.413C137.551 197.636 116.292 203.413 105.292 203.413" stroke="#2F67FF" stroke-width="22"/>
                </svg>
            </div>
<!--            <div id="rbw">-->
<!--                <div class="w">-->
<!--                    <div class="rbw f1">-->
<!--                        <div class="wv wv-1"></div><div class="wv wv-2"></div><div class="wv wv-3"></div>-->
<!--                        <div class="wv wv-4"></div><div class="wv wv-5"></div><div class="wv wv-6"></div>-->
<!--                    </div>-->
<!--                    <div class="rbw f2">-->
<!--                        <div class="wv wv-1"></div><div class="wv wv-2"></div><div class="wv wv-3"></div>-->
<!--                        <div class="wv wv-4"></div><div class="wv wv-5"></div><div class="wv wv-6"></div>-->
<!--                    </div>-->
<!--                    <div class="rbw f3">-->
<!--                        <div class="wv wv-1"></div><div class="wv wv-2"></div><div class="wv wv-3"></div>-->
<!--                        <div class="wv wv-4"></div><div class="wv wv-5"></div><div class="wv wv-6"></div>-->
<!--                    </div>-->
<!--                    <div class="rbw f4">-->
<!--                        <div class="wv wv-1"></div><div class="wv wv-2"></div><div class="wv wv-3"></div>-->
<!--                        <div class="wv wv-4"></div><div class="wv wv-5"></div><div class="wv wv-6"></div>-->
<!--                    </div>-->
<!--                    <div class="rbw f5">-->
<!--                        <div class="wv wv-1"></div><div class="wv wv-2"></div><div class="wv wv-3"></div>-->
<!--                        <div class="wv wv-4"></div><div class="wv wv-5"></div><div class="wv wv-6"></div>-->
<!--                    </div>-->
<!--                    <div class="rbw f6">-->
<!--                        <div class="wv wv-1"></div><div class="wv wv-2"></div><div class="wv wv-3"></div>-->
<!--                        <div class="wv wv-4"></div><div class="wv wv-5"></div><div class="wv wv-6"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>`;
    }
}
customElements.define("component-bootscreen", ComponentBootScreen);
{{ end }}
{{ define "loader-basic" }}
class ComponentBootScreen extends HTMLElement {
    connectedCallback() {
        this.innerHTML = `<div class="component_loader">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" style="width: 30px;">
                <circle fill="#57595A" stroke="#57595A" stroke-width="15" r="15" cx="40" cy="100">
                    <animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate>
                </circle>
                <circle fill="#57595A" stroke="#57595A" stroke-width="15" r="15" cx="100" cy="100">
                    <animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate>
                </circle>
                <circle fill="#57595A" stroke="#57595A" stroke-width="15" r="15" cx="160" cy="100">
                    <animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate>
                </circle>
             </svg>
             <style>
                 html, body, #app { height: 100%; margin: 0; }
                 #app { display: flex; }
                 component-bootscreen { margin: auto; }
             </style>
        </div>`;
    }
}
customElements.define("component-bootscreen", ComponentBootScreen);
{{ end }}
